<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bitcoin Exchange Rates</title>
  <style>
    body {
      text-align: center;
    }
    table {
      border-collapse: collapse;
      margin: 0 auto;
      padding: 20px;
    }
    th, td {
      border: 1px solid black;
      padding: 15px;
      text-align: centre;
    }
  </style>
</head>
<body>
  <h1>Bitcoin Exchange Rates</h1>
  <p style="font-size: smaller;">Data is retrieved once everyday</p>
  <table>
    <thead>
      <tr>
        <th>Currency</th>
        <th>Exchange Rate</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for rate in rates %}
      <tr>
        <td>{{ rate.target_currency }}</td>
        <td>{{ rate.exchange_rate }}</td>
        <td>{{ rate.timestamp.strftime("%Y-%m-%d %H:%M:%S") }} {{ rate.timezone }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p style="text-align: center;"><a href="https://gitlab.com/azul-task/exchange-rates-btc" target="_blank">Click here to view the project repo!</a></p>
</body>
</html>